{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container-fluid mx-auto mt-5 d-flex justify-content-center user-select-none" style="max-width: 900px;">
  <div class="card w-100 flex-wrap border border-white border-2 justify-content-center rounded mx-1">
    <div class="card-header d-flex justify-content-center shadow h2">
      Mot de passe oublié
    </div>
    <div class="card-body">
      <div class="row my-2">
        <div class="mb-3 d-flex justify-content-center">

          <form method="post">
            {% csrf_token %}
            
            <div class="my-3">
              Indiquez votre email :
              <input type="{{ form.email.field.widget.input_type }}" name="{{ form.email.name }}" class="form-control" id="{{ form.email.id_for_label }}">
            </div>

            <button type="submit" class="btn btn-secondary bg-dark-subtle" id="liveToastBtn">
              Envoyer
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}