{% extends 'base.html' %}
{% block content %}
{% load static %}

{% if validlink %}

<div class="container-fluid mx-auto mt-5 d-flex justify-content-center user-select-none" style="max-width: 900px;">
  <div class="card w-100 flex-wrap border border-white border-2 justify-content-center rounded mx-1">
    <div class="card-header d-flex justify-content-center shadow h2">
      Mot de passe oublié
    </div>
    <div class="card-body">
      <div class="row my-2">
        <div class="mb-3 d-flex justify-content-center">

          <form method="post">
            {% csrf_token %}
            
            {% if form.errors %}
            <div class= "mb-4 d-flex align-items-center justify-content-center">
              <div class="alert alert-danger">
                {% for field, errors in form.errors.items %}
                  {% if field == 'new_password1' %}
                  <div >
                    <div>
                      {{ form.new_password1.label_tag }} {{ errors }}
                    </div>
                  </div>
                  {% elif field == 'new_password2' %}
                  <div>
                    <div>                    
                    {{ form.new_password2.label_tag }} {{ errors }}
                  </div>
                </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
            {% endif %}

            {% for field in form %}
              <div class="form-group">
                  <label for="{{ field.id_for }}">{{ field.label }}</label>
                  <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for }}" name="{{ field.name }}" {{ field.field.widget.attrs }}>
              </div>
            {% endfor %}

            <div class="my-3">
              <ul>
                <li>Votre mot de passe ne peut pas ressembler à vos informations personnelles</li>
                <li>Votre mot de passe doit contenir au moins 8 caractères</li>
                <li>Votre mot de passe ne peut pas être un mot de passe couramment utilisé</li>
                <li>Votre mot de passe ne peut pas être entièrement numérique</li>
              </ul>
            </div>

            <button type="submit" class="btn btn-secondary bg-dark-subtle" id="liveToastBtn">
              Confirmer
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% else %}

<div class="container-fluid mx-auto mt-5 d-flex justify-content-center" style="max-width: 900px;">
  <div class="card w-100 flex-wrap border border-white border-2 justify-content-center rounded mx-1">
    <div class="card-header d-flex justify-content-center shadow h2">
      Mot de passe oublié
    </div>
    <div class="card-body">
      <div class="row my-2">
        <div class="mb-3 d-flex justify-content-center">
          <p>Ce lien n'est pas valide.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endif %}

{% endblock %}