{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container-fluid mx-auto mt-5 d-flex justify-content-center user-select-none" style="max-width: 900px;">
  <div class="card w-100 flex-wrap border border-white border-2 justify-content-center rounded mx-1">
    <div class="card-header d-flex justify-content-center shadow h2">
      Mot de passe oublié
    </div>
    <div class="card-body">
      <div class="row my-2">
        <div class="mb-3 d-flex justify-content-center">
          Félicitations, votre mot de passe a été modifié avec succès !
        </div>
        <div class="mb-3 d-flex justify-content-center">
            <p><strong><a class="link-light" href="{% url 'login' %}">Cliquez ici</a></strong> pour vous connecter.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}